
:root {
	--fg-color: #c7ffef;
	--bg-color:#0c2219;
	font-size: 1em;
}

body {
	background-color: var(--bg-color);
	color: var(--fg-color);
}

input {
	background-color: inherit;
	color: inherit;
	font-size: 2em;
	border: inherit;
	width: 100%;
}

input:is(:hover, :focus) {
	box-shadow: 0 0 5px gold;
}

form {
	display: grid;
	grid-template-columns: 8fr 1fr;
}

#websocket-state {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 1em;
	pointer-events: none;
}

#websocket-state:before {
	content: 'Websocket: ';
}
